/* Universal styles */
:root {
  --font-color: #303030;
  --lavender-color: #D2C9F1;
  --blue-color: #92d5fc;
  --pink-color: #f9edf3;
  --grey-color: #f7f7f7;
  --header-font: 'Tenor Sans', sans-serif;
  --body-font: 'Roboto', sans-serif;
}

body {
  font-family: var(--body-font);
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--font-color);
  background: linear-gradient(to bottom right, #D2C9F1, #92d5fc);
  background-repeat: no-repeat;
}

.App {
  box-sizing: border-box;
  width: 100%;
}

.space {
  display: flex;
  min-height: 70vh;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 20px 0;
  max-width: 960px;
  margin: 0 auto;
}

.section {
  margin: 60px 0;
}

h1, h2, h3 {
  font-family: var(--header-font);
  text-align: center;
  text-transform: uppercase;
}

header h1 {
  font-size: 4em;
  letter-spacing: 7px;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

a {
  color: var(--font-color);
  border-bottom: 2px solid var(--blue-color);
  text-decoration: none;
}

a:hover {
    border-bottom: 2px solid var(--lavender-color);
}

button {
  background: none;
  border: 0;
  padding: 10px;
  color: var(--font-color);
}

button:focus {
  outline: 0;
}

hr {
  border: 0;
  background: white;
  height: 4px;
  width: 20%;
  margin: 20px auto;
}

.flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

/* Nav */

nav {
  text-align: left;
  padding: 20px;
  background: white;
  border-bottom: 1px solid var(--grey-color);
}

nav a {
  padding: 0 10px;
  border-bottom: 0;
}

nav a:hover {
  border-bottom: 0;
}

nav .logo {
  font-family: var(--header-font);
}


/* Product page */
h1.title {
  text-transform: capitalize;
  font-size: 2.5em;
  width: 75%;
  margin: 30px auto;
}

.summary {
  box-sizing: border-box;
  display: inline-block;
  flex-grow: 1;
  padding: 20px;
  margin: 30px auto;
  width: 33%;
  align-self: stretch;
  text-align: center;
}

.ingredientBadge {
  font-weight: 700;
  display: inline-block;
  margin: 5px;
  padding: 10px 15px;
  background: white;
  border-radius: 20px;
  font-size: .8em;
}

.ingredientBadge a {
  border-bottom: 0;
}

.ingredientBadge a:hover {
  border-bottom: 0;
}

/* Product display table */
table {
  width: 100%;
  margin: 0 auto 30px auto;
  padding: 40px;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
}

thead {
  position: sticky;
}

th {
  padding: 20px;
  background: var(--font-color);
  color: white;
  border: 2px solid var(--font-color);
}

tr {
  background: none;
  transition: all 1s;
}

tbody {
  border: 2px solid white;
}

td {
  padding: 20px;
}

tr:nth-child(even), tr.noflag:nth-child(even) {
   background: white;
}

.product tr.flag, .product tr.flag:nth-child(even) {
  background: var(--pink-color);
  font-weight: 700;
}

.productListItem {
  box-sizing: border-box; 
  display: inline-block;
  width: 100%;
  text-align: center;
}

.productTitle {
  font-family: var(--body-font);
  font-size: 1em;
  line-height: 1.4em;
  text-transform: capitalize;
}

.productTitle:hover {
  cursor: pointer;
  background: white;
}

button.defaultCategory {
  color: white;
}

button.selectedCategory {
  color: var(--font-color);
}

.profile button.defaultCategory, .profile button.selectedCategory {
    margin: 2px;
    font-size: 1em;
}

.display button.defaultCategory, .display button.selectedCategory {
  font-size: 2em;
  width: 60px;
  height: 60px;
}

button.defaultCategory:hover, button.selectedCategory:hover {
   cursor: pointer;
   transform: scale(1.2);
}

.flagButton {
  font-size: .75em;
}

.flagButton:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.search {
  margin-top: -30px;
}

.searchBar {
  width: 50%;
  border: 2px solid var(--grey-color);
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  border-radius: 50px;
  background: white;
}

.searchBar input {
  border: 0;
  width: 80%;
  font-size: 1.5em;
  margin-left: 20px;
  color: var(--font-color);
  font-family: var(--body-font);
  font-weight: 400;
}

input:focus {
  outline: 0;
}

.productResult {
    font-family: var(--body-font);
    width: 30%;
    margin: 5px;
    text-align: left;
    text-transform: capitalize;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .85em;
    line-height: 1.4em;
}

.productResult:hover {
  background: white;
  cursor: pointer;
}

button.back {
  background: var(--font-color);
  color: white;
  border-radius: 20px;
}

button.back:hover {
  cursor: pointer;
}



/* CUSTOM STYLES */


.footer {
  background: white;
  padding: 20px;
  text-align: right;
  border-top: 1px solid var(--grey-color);
}

.footer-text {
  font-size: .75em;
 display: block;
 padding: 10px;
}

/* Flash messages */
.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.success {
  background-color: #ceffce;
  color: green;
  border: 1px solid green;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.no-flash {
  display: none;
/*  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;*/
}

.x-button {
  background-color: red;
  color: white;
  border-radius: 2px;
  float: right;
}

@media all and (max-width: 700px){
  table {
    font-size: .75em;
  }

  th, td {
    padding: 5px;
  }
}

@media all and (max-width: 500px){
  header h1 {
    font-size: 2.5em;
  }

  h1.title {
    width: 90%;
    font-size: 2em;
  }

  .searchBar {
    width: 80%;
  }

  .searchBar input {
    font-size: 1em;
  }

  .space {
    padding: 10px;
  }

  .summary, .productResult, .productListItem {
    width: 95%;
  }

  .summary {
    margin: 0;
    padding: 10px 5px;
  }

  table {
    width: 100%;
    margin: 30px 0;
    padding: 0;
    font-size: .5em;
  }

  th, td {
    padding: 10px 5px;
  }

  .productTitle {
    width: 100%;
  }

}
