/* Universal styles */
:root {
  --font-color: #303030;
  --violet-color: #5F00C4;
  --lavender-color: #A8A6E6;
  --pink-color: #FEDCFC;
  --header-font: 'Lato', sans-serif;
  --body-font: 'Scope One', serif;
}

body {
  font-family: var(--body-font);
  text-align: center;
  color: var(--font-color);
}

h1, h2 {
  font-family: var(--header-font);
}

header h1 {
  font-size: 4em;
  letter-spacing: 6px;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

a {
  color: var(--violet-color);
  text-decoration: none;
  font-family: var(--header-font);
}

button {
  background: none;
  border: 0;
  padding: 10px;
}

button:focus {
  outline: 0;
}

.flex {
  display: flex;
}

/* Nav */

nav {
  text-align: left;
}

nav a {
  padding: 0 10px;
}


/* Product page */
h1.title {
  text-transform: capitalize;
  font-size: 2.5em;
  width: 75%;
  margin: 0 auto;
}
.summary {
  box-sizing: border-box;
  display: inline-block;
  width: 33%;
  padding: 20px;
  align-self: flex-start;
}

.ingredientBadge {
  display: inline-block;
  margin: 5px;
  padding: 10px 15px;
  background: var(--lavender-color);
  border-radius: 20px;
  font-size: .8em;
}

/* Product display table */
table {
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  padding: 20px;
  background: var(--violet-color);
  color: white;
}

tr {
  transition: all 1s;
}

.product tr.flag {
  background: var(--pink-color);
}

td {
  padding: 20px;
  border-bottom: 1px solid var(--body-font);
}

tr.noflag {
  background: none;
}


button.defaultCategory {
  opacity: .5;
}

button.selectedCategory {
  color: var(--violet-color);
}

.productListItem {
  box-sizing: border-box; 
  display: inline-block;
  width: 33%;
  padding: 20px;
}

.productTitle {
  font-family: var(--body-font);
  font-size: 1em;
  text-transform: capitalize;
  width: 100%;
}

.productTitle:hover {
  cursor: pointer;
}

.profile button.defaultCategory, .profile button.selectedCategory {
   font-size: 1.25em;
}

.display button.defaultCategory, .display button.selectedCategory {
  font-size: 2em;
}

/*.product tr.flag button {
  color: var(--violet-color);
}*/


/* CUSTOM STYLES */

nav a:hover {

}

.footer {

}

.footer-text {
 
}

.space {
  margin: 15px 0;
}

/* Flash messages */
.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.success {
  background-color: #ceffce;
  color: green;
  border: 1px solid green;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.no-flash {
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.x-button {
  background-color: red;
  color: white;
  border-radius: 2px;
  float: right;
}
