/* Universal styles */
:root {
  --font-color: #303030;
  --lavender-color: #D2C9F1;
  --blue-color: #92d5fc;
  --pink-color: #f9edf3;
  --grey-color: #f7f7f7;
  --header-font: 'Tenor Sans', sans-serif;
  --body-font: 'Roboto', sans-serif;
}

body {
  font-family: var(--body-font);
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--font-color);
  background: linear-gradient(to bottom right, #D2C9F1, #92d5fc);
  background-repeat: no-repeat;
}

.App {
  box-sizing: border-box;
  width: 100%;
}

.space {
  display: flex;
  min-height: 70vh;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 20px 0;
  max-width: 960px;
  margin: 0 auto;
}

.section {
  margin: 60px 0;
}

h1, h2, h3 {
  font-family: var(--header-font);
  text-align: center;
  text-transform: uppercase;
}

h4 {
  text-align: center;
  font-weight: 400;
}

header {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header.home {
  overflow: hidden;
  min-height: 80vh;
  animation: sizein 750ms ease-in;
}

header.home h1 {
  font-size: 4em;
  letter-spacing: 7px;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

header.home h2 {
  font-family: var(--body-font);
  text-transform: none;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

.title-image {
  max-width: 100px;
  max-height: 200px;
  display: block;
  margin: 20px auto;
}

a {
  color: var(--font-color);
  border-bottom: 2px solid var(--blue-color);
  text-decoration: none;
}

a:hover {
    border-bottom: 2px solid var(--lavender-color);
}

a.CTA {
  background: white;
  border-bottom: 0;
  padding: 20px;
  margin: 10px;
  font-weight: 700;
  box-shadow: 4px 4px var(--lavender-color);
  display: inline-block;
}

a.CTA:hover {
  box-shadow: 0 0;
  transform: translateX(4px) translateY(4px);
}

button {
  background: none;
  border: 0;
  padding: 10px;
  color: var(--font-color);
  transition: all 2s;
}

button:focus {
  outline: 0;
}

hr {
  border: 0;
  background: white;
  height: 4px;
  width: 20%;
  margin: 20px auto;
}

.flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

/* Nav */

nav {
  text-align: left;
  padding: 20px;
  background: white;
  font-size: .9em;
  border-bottom: 1px solid var(--grey-color);
  position: sticky;
}

nav a {
  margin: 0 10px;
  border-bottom: 0;
}

nav .logo {
  font-family: var(--header-font);
  margin-right: 20px;
}

/* Homepage */
section.home {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.home.stack {
  flex-direction: column;
}

section.home p {
  font-size: 1.25em;
  line-height: 2em;
  flex: 1;
  padding: 0 20px;
}

section.home img {
  max-width: 200px;
  max-height: 200px;
}

section.home img.small {
  max-width: 150px;
  max-height: 150px;
}

section.home .infographic {
  flex: 1;
  text-align: center;
}

section.home .infographic > *:first-child {
  animation: floating 2s infinite;
}

section.home .infographic > *:nth-child(2) {
  animation: floating 2s reverse infinite;
}

section.home.stack p, section.home.stack .infographic {
  flex: 0;
}

.highlight {
  font-weight: 700;
}

@keyframes floating {
  0%  { transform: translate(0, 0); }
  50% { transform: translate(0, .20em); }
  100%  { transform: translate(0, 0em); }
}

@-webkit-keyframes floating {
  0%  { transform: translate(0, 0); }
  50% { transform: translate(0, .20em); }
  100%  { transform: translate(0, 0em); }
}

@-moz-keyframes floating {
  0%  { transform: translate(0, 0); }
  50% { transform: translate(0, .20em); }
  100%  { transform: translate(0, 0em); }
}

@-o-keyframes floating {
  0%  { transform: translate(0, 0); }
  50% { transform: translate(0, .20em); }
  100%  { transform: translate(0, 0em); }
}

@keyframes sizein {
  0%  { transform: scale(0); opacity: 0; }
  100%  { transform: scale(1); opacity: 1; }
}

@-webkit-keyframes sizein {
  0%  { transform: scale(0); opacity: 0; }
  100%  { transform: scale(1); opacity: 1; }
}

@-moz-keyframes sizein {
  0%  { transform: scale(0); opacity: 0; }
  100%  { transform: scale(1); opacity: 1; }
}

@-o-keyframes sizein {
  0%  { transform: scale(0); opacity: 0; }
  100%  { transform: scale(1); opacity: 1; }
}


/* Product page */
h1.title {
  text-transform: uppercase;
  font-size: 2em;
  width: 75%;
  margin: 30px auto;
}

.summary {
  box-sizing: border-box;
  display: inline-block;
  flex-grow: 1;
  padding: 20px;
  width: 33%;
  align-self: stretch;
  text-align: center;
}

.summary h2 {
  text-transform: none;
  font-family: var(--body-font);
  font-weight: 400;
}

.ingredientBadge {
  font-weight: 700;
  display: inline-block;
  margin: 5px;
  padding: 10px 15px;
  background: white;
  border-radius: 20px;
  font-size: .8em;
}

.ingredientBadge a {
  border-bottom: 0;
}

.ingredientBadge a:hover {
  border-bottom: 0;
}

/* Product display table */
table {
  width: 100%;
  margin: 30px auto;
  padding: 40px;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
}

thead {
  position: sticky;
}

th {
  padding: 20px;
  background: var(--font-color);
  color: white;
  border: 2px solid var(--font-color);
}

tr {
  background: none;
  transition: all 1s;
}

tbody {
  border: 2px solid var(--font-color);
}

td {
  padding: 20px;
}

tr:nth-child(even), tr.noflag:nth-child(even) {
   background: white;
}

.product tr.flag, .product tr.flag:nth-child(even) {
  background: var(--pink-color);
  font-weight: 700;
}

.productListItem {
  box-sizing: border-box; 
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.productTitle {
  border-bottom: 0;
  display: block;
}

a.productTitle button {
  font-family: var(--body-font);
  font-size: 1em;
  transition: all 1s;
  padding: 5px;
}

a.productTitle:hover {
  border-bottom: 0;
}

a.productTitle button:hover {
  cursor: pointer;
  background: white;
}

.icon-small {
  width: 30px;
  transition: all 500ms;
}

.icon-large {
  transition: all 500ms;
  width: 75px;
}

button:active .icon-large, button:active .icon-small {
  transform: scale(2);
}

button:hover .icon-large, button:hover .icon-small {
  transform: scale(1.2);
  cursor: pointer;
}

.profile button.defaultCategory, .profile button.selectedCategory {
    margin: 2px;
    font-size: 1em;
}

.display button.defaultCategory, .display button.selectedCategory {
  font-size: 2em;
  width: 60px;
  height: 60px;
}

.flagButton {
  font-size: .75em;
}

.flagButton:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.search {
  margin: 40px auto 80px auto;
  width: 50%;
  transition: all 2s;
}

.searchBar {
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  border-radius: 50px;
  background: white;
}

.searchBar input {
  border: 0;
  width: 80%;
  font-size: 1.5em;
  margin-left: 20px;
  color: var(--font-color);
  font-family: var(--body-font);
  font-weight: 400;
}

input:focus {
  outline: 0;
}

.results {
  margin-bottom: 40px;
}

.productResult {
    font-family: var(--body-font);
    width: 30%;
    margin: 5px;
    text-align: left;
    text-transform: capitalize;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .85em;
    line-height: 1.4em;
}

.productResult:hover {
  background: white;
  cursor: pointer;
}

/* Form */

.flex-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-form label {
  flex: 1;
  display: flex;
  margin: 10px;
  width: 50%;
}

.flex-form label p {
  flex: 1;
}

.flex-form label input {
  flex: 2;
  border: 0;
  border-radius: 0;
  padding: 0 10px;
  font-size: 1em;
  color: var(--font-color);
  font-family: var(--body-font);
  font-weight: 400;
}

.flex-form input[type="submit"] {
  margin: 20px 0;
  background: var(--font-color);
  padding: 10px 20px;
  border: 0;
  border-radius: 0;
  font-size: 1em;
  color: white;
  font-family: var(--body-font);
}

.footer {
  background: white;
  padding: 20px;
  text-align: right;
  border-top: 1px solid var(--grey-color);
}

.footer-text {
  font-size: .75em;
 display: block;
 padding: 10px;
}

/* Flash messages */
.success, .error {
  padding: 20px 30px;
  margin: 10px auto;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 48px;
  left: 0;
  transition: all 1s;
}

.success {
  background: var(--lavender-color);
}

.error {
  background-color: var(--pink-color);
}

.no-flash {
  display: none;
}

@media all and (max-width: 700px){
  table {
    font-size: .75em;
  }

  th, td {
    padding: 5px;
  }
}

@media all and (max-width: 500px){
  header h1, header.home h1 {
    font-size: 2.5em;
  }

  header h1.title, h1.title {
    width: 90%;
    font-size: 2em;
  }

  .title-image {
    max-height: 100px;
  }

  .section {
    margin: 30px 0;
  }

  .search {
    width: 90%;
    margin: 40px auto 60px auto;
  }

  .searchBar input {
    font-size: 1em;
  }

  .space {
    padding: 10px;
  }

  .summary, .productResult, .productListItem {
    width: 95%;
  }

  .summary {
    margin: 30px 0;
    padding: 5px;
  }

  section.home {
    flex-direction: column;
    min-height: 70vh;
  }

  section.home p, section.home .infographic {
    flex: 0;
    font-size: 1.10em;
  }

  section.home .infographic {
    order: 0;
  }

  section.home .infographic img {
    margin: 0;
    max-height: 100px;
    max-width: 100px;
  }

  section.home p {
    order: 1;
  }

  a.CTA {
    padding: 10px;
  }

  .flex-form label {
    width: 80%;
  }

  table {
    width: 100%;
    margin: 30px 0;
    padding: 0;
    font-size: .5em;
  }

  th, td {
    padding: 10px 5px;
  }

  .productTitle {
    width: 100%;
  }

}
